body {
    margin: 0;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.hovered {
    background-color: rgb(161, 250, 220);
}